        <div className="popup" id="popupInfo">
          <div className="popup__container">
            <h2 className="popup__heading">Редактировать профиль</h2>
            <form className="popup__form" name="popupFormInfo" id="popupFormInfo" novalidate>
              <fieldset className="popup__set">
                <label className="popup__field">
                  <input 
                    minlength="2" 
                    maxlength="40" 
                    type="text" 
                    className="popup__input popup__input_data_name" 
                    name="name" placeholder="Имя" required
                    id="name-input"/>
                  <span className="popup__error" id="name-input-error"></span>
                </label>
                <label className="popup__field">
                  <input minlength="2"
                    maxlength="200"
                    type="text" className="popup__input popup__input_data_info"
                    name="info" placeholder="О себе" required
                    id="data-input"/>
                  <span className="popup__error" id="data-input-error"></span>
                </label>
                <button type="submit" className="popup__button" id="infoSubmit">Сохранить</button>
              </fieldset>  
            </form>
            <button className="popup__close" type="button" id="popupInfoClose"></button>
          </div>
        </div>
        <div className="popup" id="popupCard">
          <div className="popup__container">
            <h2 className="popup__heading">Новое место</h2>
            <form className="popup__form" name="popupFormCard" id="popupFormCard"novalidate>
              <fieldset className="popup__set">
                <label className="popup__field">
                  <input 
                    minlength="2" 
                    maxlength="30" type="text" 
                    className="popup__input popup__input_data_name" 
                    name="name" placeholder="Название" required
                    id="place-input"/>
                  <span className="popup__error" id="place-input-error"></span>
                </label>
                <label className="popup__field">
                  <input 
                    minlength="2"
                    type="url" 
                    className="popup__input popup__input_data_info" 
                    name="link" placeholder="Ссылка на картинку" required
                    id="url-input"/>
                  <span className="popup__error" id="url-input-error"></span>
                </label>
                <button type="submit" className="popup__button">Создать</button>
              </fieldset>
            </form>
            <button className="popup__close" type="button" id="popupCardClose"></button>
          </div>
        </div>
        <div className="popup" id="popupImg">
          <div className="popup__img-container">
            <img src="#" className="popup__image"/>
            <button className="popup__close" type="button" id="popupImgClose"></button>
            <h3 className="popup__img-subline"></h3>
          </div>
        </div>
        <div className="popup" id="popupAvatar">
          <div className="popup__container">
            <h2 className="popup__heading">Обновить аватар</h2>
            <form className="popup__form" name="popupFormAvatar" id="popupFormAvatar"novalidate>
              <fieldset className="popup__set">
                <label className="popup__field">
                  <input 
                    minlength="2"
                    type="url" 
                    className="popup__input popup__input_data_info" 
                    name="link" placeholder="Ссылка на картинку" required
                    id="url-input"/>
                  <span className="popup__error" id="url-input-error"></span>
                </label>
                <button type="submit" className="popup__button">Сохранить</button>
              </fieldset>
            </form>
            <button className="popup__close" type="button" id="popupAvatarClose"></button>
          </div>
        </div>
        <div className="popup" id="popupConfirm">
          <div className="popup__container">
            <h2 className="popup__heading popup__heading_type_confirm">Вы уверены?</h2>
            <form className="popup__form" name="popupFormConfirm" id="popupFormConfirm" novalidate>
              <button type="submit" className="popup__button">Да</button>
            </form>
            <button className="popup__close" type="button" id="popupConfirmClose"></button>
          </div>
        </div>
        <div className="popup" id="popupLoading">
          <div className="popup__img-container popup__img-container_loader">
            <img src={loading} className="popup__image"/>
          </div>
        </div>